<!-- templates/patients/dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord du Patient</title>
</head>
<body>
    <h1>Bienvenue sur votre tableau de bord</h1>
    <h2>Que souhaitez-vous faire ?</h2>
    <a href="{% url 'patients:create_appointment' %}">Prendre Rendez-vous</a>
    <br>
    <a href="{% url 'patients:upload_ecg' %}">Uploader un fichier ECG</a>
</body>
</html>
